<!DOCTYPE html>
<html>
<head>
	<title>Big Ideas for Tiny Homes</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<nav class=headerNavLinks>
		<a href="/tiny">Back to Home Page</a><br>
		<a href="/tiny/new">Add a New Model</a>
	</nav>