<!DOCTYPE html>
<html>
<head>
	<title>Tiny Home Database</title>
	<link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
	<h1>Big Ideas for Tiny Home Designs</h1>

	<div>
		<img src="../img/homepage/homeHouse.png"><br>
		<a href="/tiny/house"><button>SEE MODELS</button></a>
	</div>

	<div>
		<img src="../img/homepage/busHome2.png"><br>
		<a href="/tiny/bus"><button>SEE MODELS</button></a>
	</div>

	<div>
		<img class=homeVan src="../img/homepage/sprinterVan.png"><br>
		<a href="/tiny/van"><button>SEE MODELS</button></a>
	</div>
</body>
</html>