<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Tiny Home Database</title>
	<link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
	<h1>Big Ideas for Tiny Home Designs</h1>

	<div>
		<img src="../img/homepage/homeHouse.png"><br>
		<button type='button' id='tinyHome'>SEE MORE</button>
	</div>

	<div>
		<img src="../img/homepage/busHome2.png"><br>
		<button type='button' id='tinyHome'>SEE MORE</button>
	</div>

	<div class=vanHomepage>
	<div>
		<img class=homeVan src="../img/homepage/sprinterVan.png"><br>
		<button type='button' id='tinyHome'>SEE MORE</button>
	</div>
	</div>
</body>
</html>