<!DOCTYPE html>
<html>
<head>
	<title>Tiny Home Database</title>
	<link rel="stylesheet" type="text/css" href="/css/home.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
</head>
<body>
	<h1><img class=logo src="../img/homepage/hammerSaw.png">Big Ideas for Tiny Home Designs <img class=logo src="../img/homepage/hammerSaw.png">

	<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
	</h1>
		
	<p class="homepagePar">Welcome to our Tiny Home showcase website! Whether you are thinking about downsizing and transitioning into a traditional tiny home, exploring in a "schoolie" or van, or want to share your unique tiny home model- you've come to the right place!</p>


	<div class="wrapper">
		<div>
			<img class="homeHouse" src="../img/homepage/homeHouse.png"><br>
			<a href="/tiny/house"><button id="btnHomeHouse">SEE TINY HOME MODELS</button></a>
		</div>

		<div>
			<img class="homeBus" src="../img/homepage/busHome2.png"><br>
			<a href="/tiny/bus"><button id="btnHomeBus">SEE BUS MODELS</button></a>
		</div>

		<div>
			<img class="homeVan" src="../img/homepage/sprinterVan.png"><br>
			<a href="/tiny/van"><button id="btnHomeVan">SEE VAN MODELS</button></a>
		</div>
	</div>	

		<!-- <div class="row">
		<div class="col-md-4">
			<img src="../img/homepage/homeHouse.png"><br>
			<a href="/tiny/house"><button class="btnHomepage">SEE MODELS</button></a>
		</div>

		<div class="col-md-4">
			<img class= homeBus src="../img/homepage/busHome2.png"><br>
			<a href="/tiny/bus"><button class="btnHomepage">SEE MODELS</button></a>
		</div>

		<div class="col-md-4">
			<img class=homeVan src="../img/homepage/sprinterVan.png"><br>
			<a href="/tiny/van"><button class="btnHomepage">SEE MODELS</button></a>
		</div>
	</div>	 -->
</body>
</html>