<%- include('./partials/header.ejs') %>
	<h1>New Tiny House</h1>

	<form action="/tiny" method="POST"> 
		Type: <input type="text" name="type"> <br/>
		Bedrooms: <input type="number" name="bedrooms"> <br/>
		Bathrooms: <input type="number" name="bathrooms"> <br/>
		Budget: <input type="number" name="budget"> <br/>

		<input type="submit" value='Create House' />
	</form>
<%- include('./partials/footer.ejs') %> 