body {
	/*background-color: brown;*/
	background-image: url(../img/homepage/background2.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-position: center;*/
	background-attachment: fixed;
}
h1{
	color: white;
	text-align: center;
	background-color: black;
}

.homeVan{
	background-color: black;
	border-radius: inherit;
}