.headerHomeLink{
	text-decoration: none;
	color: grey;
}

.headerHomeLink:hover{
	color: yellow;
	text-decoration: underline;
}

body {
	/*background-color: brown;*/
	background-image: url(../img/background.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-position: center;*/
	background-attachment: fixed;
}

p{
	color: white;
}

h1{
	font-family: 'Stick No Bills', sans-serif;
	color: white;
	text-align: center;
	text-decoration: underline;
	text-shadow: 3px 3px 6px lightgreen;
	padding: 20px;
}
li{
	color: white;
	list-style-type: none;
}
a{
	color: white;
}

.newFormDiv{
	font-size: 25px;
	font-family: 'Stick No Bills', sans-serif;
	display: block;
	text-align: center;
	text-shadow: 1px 1px 4px lightgreen;
}

.newForm{
	color: white;
}

.dropdownNew{
  width: 20%;
  padding: 10px 15px;
  margin left: 8px 0;
  border: 2px solid yellow;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number] {
  width: 20%;
  padding: 10px 15px;
  margin left: 8px 0;
  border: 2px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
}

.editFormDiv{
	font-size: 25px;
	font-family: 'Stick No Bills', sans-serif;
	display: block;
	text-align: center;
	text-shadow: 1px 1px 4px yellow;
}

.editForm{
	color: white;
}